.content {
    transition: max-width 0.3s ease, padding 0.3s ease;
    max-width: 0;
    overflow: hidden;
}

.content.expanded {
    max-width: 300px;
}

.content.collapsed {
    max-width: 0;
}

.toggle-button {
    position: absolute;
    top: 20px;
    cursor: pointer;
    z-index: 1000;
    transition: left 0.2s ease-in;
    
    overflow: hidden;
}

.toggle-button.expanded {
    left: 235px;
    transition: left 0.2s ease;
}

.toggle-button.collapsed {
    left: 10px;
}

.collapsible-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 45px;
}

/* @media (min-width: 769px) {
    .toggle-button {
        display: none;
    }
} */