.content {
    transition: max-width 0.3s ease-out, padding 0.3s ease-out;
    max-width: 0;
    /* Start collapsed */
    overflow: hidden;
}

.content.expanded {
    max-width: 300px;
    /* Large enough to accommodate content */
}

/* Optional: Style for collapsing content */
.content.collapsed {
    max-width: 0;
}

.toggle-button {
    transition: left 0.3s ease-out;
    left: 10px; /* Start collapsed */
    overflow: hidden;
}

.toggle-button.expanded {
    left: 235px;
}

.toggle-button.collapsed {
    left: 10px;
}

.collapsible-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.toggle-button {
    position: absolute;
    top: 15px;
    cursor: pointer;
    z-index: 1000; /* Ensure the button stays on top of other content */
}

/* @media (min-width: 769px) {
    .toggle-button {
        display: none;
    }
} */