.cust-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--darkest-accent) var(--neutral-bg);
}

.cust-scrollbar::-webkit-scrollbar {
    width: 12px;
}

.cust-scrollbar::-webkit-scrollbar-track {
    background-color: var(--neutral-bg);
}

.cust-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--darkest-accent);
    border-radius: 10px;
}

.cust-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--darkest-accent);
}

.cust-scrollbar-lg {
    scrollbar-color: var(--darkest-accent) var(--neutral-bg);
}

.cust-scrollbar-lg::-webkit-scrollbar {
    width: 12px;
}

.cust-scrollbar-lg::-webkit-scrollbar-track {
    background-color: var(--neutral-bg);
}

.cust-scrollbar-lg::-webkit-scrollbar-thumb {
    background-color: var(--darkest-accent);
    border-radius: 10px;
}

.cust-scrollbar-lg::-webkit-scrollbar-thumb:hover {
    background-color: var(--darkest-accent);
}

.menu-top-border {
    border-top-right-radius: 6px;
    border-top-left-radius: 0;
    border-top: 8px solid var(--darkest-accent);
}
