.timeline {
  width: 300px;
  height: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
}

.timeline-line {
  position: absolute;
  left: -30px;
  height: 100%;
  border-left: 2px solid black;
}

.timeline-items {
  position: relative;
  margin-left: 35px;
}

.timeline-item {
  position: relative;
  padding: 0;
  background-color: #000;
  border: 1px solid #535472;
  border-radius: 6px;
  width: 200px;
  line-height: 0;
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: calc(50% - 5px);
  left: -35px;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  z-index: 1;
}

.marked::after {
  content: '|';
  position: absolute;
  font-size: 30px; 
  top: calc(50% - 4px);
  left: 200px;
  z-index: 1;
}

.selected::after {
  content: ']';
  position: absolute;
  font-size: 30px; 
  top: calc(50% - 4px);
  left: 200px;
  z-index: 1;
}

.timeline-item:hover .item-hover {
  transform: scale(1.75);
  z-index: 2;
}

.item-content {
  z-index: 2;
  transition: transform 0.2s ease-in-out;
  border-radius: 5px;
}

.item-hover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.item-hover img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.timeline-item:hover .item-hover {
  opacity: 1;
}

.timeline-connector {
  position: absolute;
  left: -50px;
  width: 40px;
  height: 2px;
  background-color: #000;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
}

.item-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14px;
  text-align: center;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}