.thumbnail-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 75%; /* Aspect ratio: 4:3 (height / width * 100) */
}

.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover; /* Scale the image to cover the container */
  object-position: center; /* Center the image within the container */
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio for most videos */
  height: 0;
  overflow: hidden;
  background: #000;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: contain; /* Ensures the entire video is visible */
}

.modal {
  display: none;
}

.modal.show {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
}

.container-scroll {
  height: 100vh; /* Set a height to the container */
  overflow-y: auto; /* Enables vertical scrolling */
  overflow-x: hidden; /* Hides horizontal scrolling */
}

@media (min-width: 1400px) {
  .container{
      min-width: 1380.63px;
  }
}

@media (min-width: 1200px) {
  .container{
      min-width: 1080.63px;
  }
}

/* @media (min-width: 992px) {
  .container{
      min-width: 1080.63px;
  }
}

@media (min-width: 768px) {
  .container{
      min-width: 1080.63px;
  }
}

@media (min-width: 576px) {
  .container{
      min-width: 1080.63px;
  }
} */
